/**
 * Fonts and sizes
 * Author: Alexandru Armeana
 */
$ultrathin: 100;
$thin: 300;
$regular: 400;
$normal: 400;
$semibold: 600;
$bold: 700;

/**
   * Fontfaces
   */

$sans-fontface: 'Inter';
$serif-fontface: 'Georgia';
$cursive-fontface: 'Zapfino';
$mono-fontface: 'Inconsolata';

// Font-families stack
$sans-fontface-stack: $sans-fontface, Helvetica, Arial, sans-serif;
$serif-fontface-stack: $serif-fontface, Georgia, 'Times New Roman', Times, serif;
$cursive-fontface-stack: $cursive-fontface, cursive;
$mono-fontface-stack: $mono-fontface, monospace;

// System fontface stacks used when webfonts are not loaded
$system-sans-fontface-stack: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
$system-serif-fontface-stack: 'Georgia', 'Times New Roman', Times, serif;

/**
   * Defaults
   */

$default-fontface-stack: $sans-fontface-stack;
$default-system-stack: $system-sans-fontface-stack;
